{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "~img": "./src/assets/img",
                }
            }
        ]
    ]
}
