.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363740;
  overflow: hidden;
  .card {
    min-width: 40%;
    .logoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .logoImg {
        margin: 0;
      }
    }
  }
}
